# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/example-code/build/
/example-code/dist/
/SciVis2012/build/
/SciVis2012/dist/
.DS_Store

*.inc
